body {
	max-width: 1024px;
	margin: 0 auto
}

form {
	width: 280px;
	float: right;
	display: block;
	margin: 0 10px 10px 20px;
}

header {
	padding: 0 10px;
}

p {
	padding: 0 10px;
}

fieldset {
	border-width: 1px;
}

legend {
	font-weight: bold;
}

.control {
	margin-top: 10px;
}

.control label {
	display: inline-block;
	width: 200px;
}

.control input {
	width: 40px;
	text-align: center;
	border-width: 1px;
	padding: 3px 2px;
}

.control.actions {
	text-align: right;
	margin-top: 10px;
}

.control.actions input {
	padding: 5px 10px;
	width: auto;
}